.Footer{
    display: flex;
    height: 160px;
    width: 100%;
    background: #216249;    margin-left: auto;margin-right: auto;
    bottom: 0;
}
.Footer > .elementFooter{
margin-left: auto;margin-right: auto;
    text-align: center;

    padding-top: 70px;

}
.Footer > .elementFooter > p {
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}